<p>Hi!</p>

<p>Thank you for signing up with your
	email address: <strong>{{email}}</strong></p>

<p>Please click the link to verify your address:
	<a href="{{link}}">{{link}}</a>
<br />
Or if you prefer, copy-paste it into your web browser.
</p>


<p>If you have any questions or find any issues, big or small,
	please drop us a note (by email or twitter) or
	<a href="https://github.com/dwyl/app/labels/MVP">
		add an issue to github</a>,
	we <i>really appreciate</i> your feedback!</p>

<p>Happy dwyling!</p>
<p>Inês &amp; Nelson<p>
<p><em>Co-Founders<em><p>
<a href="http://www.dwyl.com">http://www.dwyl.com</a>
<img src="{{pixel_url}}"/>
